<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Home URL -->  
  <welcome-file-list>
    <welcome-file>Shuffle.html</welcome-file>
  </welcome-file-list>

	<!-- Project Servlet -->  
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.ProjectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/api/project/*</url-pattern>
  </servlet-mapping> 

	<!-- Context Servlet -->  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/api/contexts/*</url-pattern>
  </servlet-mapping> 

	<!-- Action Servlet -->
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.Action</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/api/action/*</url-pattern>
  </servlet-mapping> 
    
  <servlet>
    <servlet-name>ActionsServlet</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.Actions</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ActionsServlet</servlet-name>
    <url-pattern>/api/*_actions</url-pattern>
  </servlet-mapping> 
  
  <context-param>
    <!-- max size of the upload request -->
    <param-name>maxSize</param-name>
    <param-value>30000</param-value>
  </context-param>
      
  <filter>
    <filter-name>PersistenceFilter</filter-name>
    <filter-class>com.jeebook.appengine.gtd.server.persistence.PersistenceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>PersistenceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.LoginServiceImpl</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>taskServiceImpl</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.TaskServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.jeebook.appengine.gtd.server.service.RestoreServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/shuffle/login</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>taskServiceImpl</servlet-name>
    <url-pattern>/shuffle/task</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/shuffle/restore</url-pattern>
  </servlet-mapping>  

</web-app>
